#### Import and Explore Train and Test Data

In [11]:
import pandas as pd
import numpy as np
print("Libraries Imported")

Libraries Imported

In [12]:
train = pd.read_csv("train.csv")
print("Train Data:")
train.head()

Train Data:

         Date  store  product  number_sold
0  2010-01-01      0        0          801
1  2010-01-02      0        0          810
2  2010-01-03      0        0          818
3  2010-01-04      0        0          796
4  2010-01-05      0        0          808

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230090 entries, 0 to 230089
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         230090 non-null  object
 1   store        230090 non-null  int64
 2   product      230090 non-null  int64
 3   number_sold  230090 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.0+ MB

In [14]:
train.describe()

               store        product    number_sold
count  230090.000000  230090.000000  230090.000000
mean        3.000000       4.500000     780.926107
std         2.000004       2.872288     204.096737
min         0.000000       0.000000     238.000000
25%         1.000000       2.000000     722.000000
50%         3.000000       4.500000     835.000000
75%         5.000000       7.000000     914.000000
max         6.000000       9.000000    1205.000000

In [15]:
test = pd.read_csv("test.csv")
print("Test Data:")
test.head()

Test Data:

         Date  store  product  number_sold
0  2019-01-01      0        0          845
1  2019-01-02      0        0          851
2  2019-01-03      0        0          840
3  2019-01-04      0        0          842
4  2019-01-05      0        0          845

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25550 entries, 0 to 25549
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         25550 non-null  object
 1   store        25550 non-null  int64
 2   product      25550 non-null  int64
 3   number_sold  25550 non-null  int64
dtypes: int64(3), object(1)
memory usage: 798.6+ KB

#### Change Datatype and Feature Engineering

In [17]:
train["Date"] = pd.to_datetime(train["Date"])
train["year"] = train["Date"].dt.year
train["month"] = train["Date"].dt.month
train["day"] = train["Date"].dt.day
train = train.drop(columns = ["Date"])

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230090 entries, 0 to 230089
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   store        230090 non-null  int64
 1   product      230090 non-null  int64
 2   number_sold  230090 non-null  int64
 3   year         230090 non-null  int32
 4   month        230090 non-null  int32
 5   day          230090 non-null  int32
dtypes: int32(3), int64(3)
memory usage: 7.9 MB

In [18]:
test["Date"] = pd.to_datetime(test["Date"])
test["year"] = test["Date"].dt.year
test["month"] = test["Date"].dt.month
test["day"] = test["Date"].dt.day
test = test.drop(columns = ["Date"])

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25550 entries, 0 to 25549
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store        25550 non-null  int64
 1   product      25550 non-null  int64
 2   number_sold  25550 non-null  int64
 3   year         25550 non-null  int32
 4   month        25550 non-null  int32
 5   day          25550 non-null  int32
dtypes: int32(3), int64(3)
memory usage: 898.4 KB

In [19]:
test.head()

   store  product  number_sold  year  month  day
0      0        0          845  2019      1    1
1      0        0          851  2019      1    2
2      0        0          840  2019      1    3
3      0        0          842  2019      1    4
4      0        0          845  2019      1    5

In [20]:
train.describe()

,store,product,number_sold,year,month,day
count,230090.000000,230090.000000,230090.000000,230090.00000,230090.000000,230090.000000
mean,3.000000,4.500000,780.926107,2014.00000,6.523274,15.728628
std,2.000004,2.872288,204.096737,2.58168,3.448616,8.799685
min,0.000000,0.000000,238.000000,2010.00000,1.000000,1.000000
25%,1.000000,2.000000,722.000000,2012.00000,4.000000,8.000000
50%,3.000000,4.500000,835.000000,2014.00000,7.000000,16.000000
75%,5.000000,7.000000,914.000000,2016.00000,10.000000,23.000000
max,6.000000,9.000000,1205.000000,2018.00000,12.000000,31.000000

#### Drop Duplicates

In [21]:
train = train.drop_duplicates().reset_index(drop = True)
test = test.drop_duplicates().reset_index(drop = True)
print("Duplicates dropped.")

Duplicates dropped.

#### Missing Values

In [22]:
miss_val_train = train.isnull().sum()
miss_val_train

store          0
product        0
number_sold    0
year           0
month          0
day            0
dtype: int64

In [23]:
miss_val_test = test.isnull().sum()
miss_val_test

store          0
product        0
number_sold    0
year           0
month          0
day            0
dtype: int64

#### Define X and Ys

In [24]:
x_train = train.drop(columns = ["number_sold"])
y_train = train["number_sold"]
x_test = test.drop(columns = ["number_sold"])
y_test = test["number_sold"]

#### Modelling

In [25]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse, r2_score as r2, mean_absolute_percentage_error as mape
import math

In [26]:
model = XGBRegressor(n_estimators = 100, 
                     learning_rate = 0.1, 
                     max_depth = 3, 
                     objective = 'reg:squarederror')
model = model.fit(x_train, y_train)
y_pred = model.predict(x_test)
model_mae = mae(y_test, y_pred)
print(f"MAE : {model_mae}")
model_mse = mse(y_test, y_pred)
print(f"RMSE : {math.sqrt(model_mse)}")
model_r2 = r2(y_test, y_pred)
print(f"R-Squared : {model_r2}")
model_mape = mape(y_test, y_pred)
print(f"MAPE : {model_mape}")

MAE : 42.259655076118364
RMSE : 57.18129649975965
R-Squared : 0.9271941184997559
MAPE : 0.055638042230190796